<h1>Random Encounter</h1>

<p>Tilfældig sammenstød på rejse over længere afstand.</p>

<h2>
	<a data-toggle="collapse" data-target="#panel-1" href="javascript:return false;">Faktorer</a>
</h2>

<div id="panel-1" class="panel-collapse collapse">
	<p>Start med 5 terninger + din edge.</p>
	<p>Tilføj Zone værdien fra tabellen herunder:</p>
	<table class="table">
		<thead>
			<tr>
				<th>AAA</th>
				<th>AA</th>
				<th>A</th>
				<th>B</th>
				<th>C</th>
				<th>D</th>
				<th>E</th>
				<th>Z</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>+8</td>
				<td>+6</td>
				<td>+4</td>
				<td>+2</td>
				<td>0</td>
				<td>-1</td>
				<td>-2</td>
				<td>-4</td>
			</tr>
		</tbody>
	</table>
	<p>Tilføj point fra kvaliteter og andre faktorer.</p>
	<br/>
	<p>Slå terningerne. Antal successer afgør størrelsen af encounter.</p>
	<br/>
	<p>Slå fem terninger.</p>
	<p>Antal øjne afgør encounter.</p>
	<p><i>Husk at der ikke findes glitch, selvom critical glitch stadig er en faktor.</i></p>
</div>

<h2>
	<a data-toggle="collapse" data-target="#panel-2" href="javascript:return false;">Udregner</a>
</h2>

<div id="panel-2" class="panel-collapse collapse">
	<label>Edge:<input type="number" value="0" ng-model="edge"/></label>
	<br/>
	<p>Zone :
		<table class="table">
			<tr><td ng-repeat="z in zones">
				<label>
					<b>{{z.name}}</b>
					<input type="radio" name="theZone" ng-model="$parent.zone" ng-value="z" />
				</label>
			</td></tr>
		</table>
	</p>
	<label>Andre faktorer:<input type="number" value="0" ng-model="others"/></label>
	<br/>
	<br/>
	<p>Antal terninger: <u><b>{{5 + edge + zone.value + others}}</b></u>
	<br/>
	<i><b>5 + edge({{edge}}) + zone({{zone.name}} / {{zone.value}}) + others({{others}})</b></i></p>
</div>