<h1>Random Encounter</h1>

<p>Tilfældig sammenstød på rejse over længere afstand.</p>

<h2>
	<a data-toggle="collapse" data-target="#panel-1" href="javascript:return false;">Faktorer</a>
</h2>

<div id="panel-1" class="panel-collapse collapse">
	<p>Start med 5 terninger + din edge.</p>
	<p>Tilføj Zone værdien fra tabellen herunder:</p>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>AAA</th>
				<th>AA</th>
				<th>A</th>
				<th>B</th>
				<th>C</th>
				<th>D</th>
				<th>E</th>
				<th>Z</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>+8</td>
				<td>+6</td>
				<td>+4</td>
				<td>+2</td>
				<td>0</td>
				<td>-1</td>
				<td>-2</td>
				<td>-4</td>
			</tr>
		</tbody>
	</table>
	<p>Tilføj point fra kvaliteter og andre faktorer.</p>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Character is lucky</th>
				<th>Appearing Rich</th>
				<th>Appearing Poor</th>
				<th>Character is physically imposing in some way</th>
				<th>Character is carrying a weapon or obviously a mage</th>
				<th>Character seams harmless</th>
				<th>Ork or Troll Metatype</th>
				<th>Changeling</th>
				<th>Character has (known) street reputation</th>
				<th>Characters walk in a group</th>
				<th>Character is obviously intoxicated</th>
				<th>At Night</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>+Edge Score</td>
				<td>-1 til -4 *</td>
				<td>+1 til +4 *</td>
				<td>+1 til +3</td>
				<td>+2*</td>
				<td>-2</td>
				<td>+1*</td>
				<td>-2</td>
				<td>+Street Cred</td>
				<td>+1 per karakter (Max 4)</td>
				<td>-1</td>
				<td>-1</td>
			</tr>
		</tbody>
	</table>
	<br/>
	<p>Slå terningerne. Antal successer afgør størrelsen af encounter.</p>
	<br/>
	<p>Slå fem terninger.</p>
	<p>Antal øjne afgør encounter.</p>
	<p><i>Husk at der ikke findes glitch, selvom critical glitch stadig er en faktor.</i></p>
</div>

<h2>
	<a data-toggle="collapse" data-target="#panel-2" href="javascript:return false;">Udregner</a>
</h2>

<div id="panel-2" class="panel-collapse collapse">
	
	<label>Edge:<input type="number" value="0" ng-model="edge"/></label>
	<br/>
	<p>Zone :
		<table class="table table-bordered">
			<tr><td ng-repeat="z in zones">
				<label>
					<b>{{z.name}}</b>
					<input type="radio" name="theZone" ng-model="$parent.zone" ng-value="z" />
				</label>
			</td></tr>
		</table>
	</p>
	<label>Andre faktorer:<input type="number" value="0" ng-model="others"/></label>
	<br/>
	<br/>

	<h4>Antal terninger: <u><b>{{5 + edge + zone.value + others}}</b></u></h4>
	<p>
	<i><b>5 + edge({{edge}}) + zone({{zone.name}} / {{zone.value}}) + others({{others}})</b></i></p>
	<button class="btn btn-primary" ng-click="roll()">Kast</button>
	<p>
		<span ng-hide="true">{{result = 5 + edge + zone.value + others}}</span>
		<table class="table table-bordered" ng-if="output.full == true">
			<tr><th colspan="20">Slag ({{output.die}} terninger)</th></tr>
			<tr><td ng-repeat="r in output.resultone">{{$index+1}} sider: <b>{{r}}</b></td></tr>
			<tr><td colspan="20">Successer: {{output.success}}</td></tr>
			<tr><th colspan="20">Slag <b>2</b></th></tr>
			<tr><td ng-repeat="r in output.resulttwo">{{$index+1}} sider: <b>{{r}}</b></td></tr>
			<tr><td colspan="20">Antal øjne = <b>{{output.eyes}}</b></td></tr>
			<tr>
				<td colspan="20" class="danger" ng-if="output.glitch"><b>Glitched!</b></td>
				<td colspan="20" class="success" ng-if="!output.glitch"><b>Success</b></td>
			</tr>
		</table>
	</p>
</div>