<h1>Healing</h1>
<p>Stun and Physical damage both heal naturally, though at different rates. Medical attention can help hasten the process. In both cases, healing is handled as an Extended Test.</p>
<p>(Side 252)</p>
<h2><a data-toggle="collapse" data-target="#stun" href="">Stun Damage</a></h2>
<div id="stun" class="panel-collapse collapse">
	<p>Make a <b>Body + Willpower (1 hour)</b> Extended Test.</p>
	<p>The character must rest for the entire hour for it to count (forced naps and unconsciousness also count). Each hit heals 1 box of Stun damage.</p>
</div>
<h2><a data-toggle="collapse" data-target="#physical" href="">Physical Damage</a></h2>
<div id="physical" class="panel-collapse collapse">
	<p>Make a <b>Body - Damage modifier (1 day)</b> Extended Test.</p>
	<p>The character must rest for the entire day for it to count (forced naps and unconsciousness also count).</p>
	<p>Each hit heals 1 box of Physical damage. Physical damage cannot be healed through rest if the character has Stun damage; the Stun damage must be healed first.</p>
</div>
<h2><a data-toggle="collapse" data-target="#glitch" href="">Glitches and healing</a></h2>
<div id="glitch" class="panel-collapse collapse">
	<p>A glitch on a healing test (Stun or Physical) doubles the resting time (the damage is still healed—it just takes longer).</p>
	<p>A critical glitch increases the damage by <b>1D3 (1D6 ÷ 2) boxes</b> in addition to <b>doubling the resting time</b>.</p>
</div>