<h1>Edge</h1>
<p>Edge is a character’s luck, the favor of the gods, that unexplainable factor that allows her to beat the odds. A character’s Edge attribute represents the number of Edge points a character has to spend during gameplay. Edge points can be used for a wide range of benefits, each noted below. Edge points that are spent are temporarily unavailable (see Regaining Edge, below)—luck will only take you so far. Note that a character’s Edge attribute never actually changes, even when Edge points are spent, unless the character permanently burns Edge (see Burning Edge, p. 75)</p>
<h2>Spending Edge</h2>
<p>When you spend a point of Edge, you can choose to have one of the following happen:</p>
<ul>
	<li>You may declare the use of Edge before rolling for any one test (or one interval roll on an Extended Test). You may add a number of extra dice equal to your full Edge attribute to the dice pool. All dice (not just Edge dice) rolled on this test are subject to the Rule of Six (p. 62), meaning that if you roll a 6, you count it as a hit and roll it again.
	</li><li>You may declare the use of Edge after you have rolled for one test. In this case, you may roll a number of extra dice equal to your full Edge attribute and add their hits to the test’s total. The Rule of Six (p. 62), however, applies only to the additional Edge dice rolled, not the original dice pool.
	</li><li>You may re-roll all of the dice on a single test that did not score a hit.
	</li><li>You may make a Long Shot Test (p. 61) even if your dice pool was reduced to 0 or less; roll only your Edge dice for this test (the Rule of Six does not apply).
	</li><li>You may go first in an Initiative Pass, regardless of your Initiative Score (see Initiative and Edge, p. 145). If multiple characters spend Edge to go first in the same pass, those characters go in order according to their Initiative Scores first, then everyone else goes according to their Initiative Scores.
	</li><li>You may gain 1 extra Initiative Pass for that Combat Turn only (see Initiative and Edge, p. 145).
	</li><li>You may negate the effects of one glitch or critical glitch.
	</li><li>You may invoke the Dead Man’s trigger rule (p. 163).</li>
</ul>
A character can only spend Edge points on her own actions; she cannot spend it on behalf of others (except when engaged in a “teamwork” test, p. 65). No more than 1 point of Edge can be spent on any specific test or action at one time. If you spent a point of Edge for extra dice and rolled a critical glitch anyway, for example, you cannot use Edge to negate that critical glitch since you have already applied Edge to that test.
Regaining Edge The gamemaster decides when a character’s Edge points refresh to the full Edge attribute. We recommend refreshing Edge at the beginning of each game session, though in some cases it may be more interesting or challenging to only refresh Edge when a full adventure has ended, or when specific goals have been met. One possibility is to refresh 1 point of Edge for each achieved goal, and the rest when the scenario is completed. Alternately, Edge can simply refresh every day.
There are many other possibilities for rewarding characters with Edge points:
<ul>
	<li>Impressive roleplaying.
	</li><li>Heroic acts of self-sacrifice.
	</li><li>Achievement of important personal goals.
	</li><li>Scoring a critical success (p. 65) against the odds.
	</li><li>Rolling a critical glitch (p. 62)—you get a point of Edge to balance the scales.</li>
</ul>
<p>Note that you may never have more Edge points than your full Edge attribute—luck only counts if you use it.</p>
<h2>Regaining Edge</h2>
	<p>The gamemaster decides when a character’s Edge points refresh to the full Edge attribute.<br>
	We recommend refreshing Edge at the beginning of each game session, though 
	in some cases it may be more interesting or challenging to only refresh Edge when a full adventure has ended, or when specific goals have been met. One possibility is<br>
	to refresh 1 point of Edge for each achieved goal, and the rest when the scenario is<br>
	completed. Alternately, Edge can simply refresh every day.</p>
	<p>There are many other possibilities for rewarding characters with Edge points:</p>
	<li>Impressive roleplaying.</li>
	<li>Heroic acts of self-sacrifice.</li>
	<li>Achievement of important personal goals.</li>
	<li>Scoring a critical success (p. 65) against the odds.</li>
<li>Rolling a critical glitch (p. 62)—you get a point of Edge to balance the scales.</li>
<p>Note that you may never have more Edge points than your full Edge attribute—luck only counts if you use it.</p>
	<h2>Burning Edge</h2>
<p>In certain drastic situations, even spending Edge may not be enough. A	character can choose to burn a point of Edge permanently reducing his Edge attribute by 1 for one of the following effects:</p>
		<li>Automatically achieve a critical success on one action. The character 
		must be capable of carrying out the action—you can’t buy<br>
		a critical success for something you have no hope of achieving.</li>
		(Note that you do not refresh a point of Edge for getting a critical<br>
		success in this case.) If two opposing characters burn Edge in this 
		manner, they cancel each other out.<br>
		<li>Hand of God: this option allows characters to escape certain 
		death. This use of Edge represents another shot at life something
	the spirits are rare to provide. The streets have decided that they have more uses for this character before she’s discarded to the trash heap and miraculously pull her from the jaws of Death. Gamemasters can explain this phenomena with any rationale they like, from sheer coincidence to the intervention of the gods. Note that this does not mean the character gets off scot free. The character should not escape unharmed from whatever circumstances would have led to her death. In fact, the character should suffer most of the consequences of the action that would have killed her; if shot in the head, for example, she may be knocked into a coma and appear dead to her enemies, but she will survive to get revenge another day. A character who uses Hand of God should be incapacitated until the end of the current adventure or until the gamemaster deems she has recovered from the side-effects of her close call.</li>
		</p>
